@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Mulish:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.btn {
    border: none;
    background-color: #FF5400;
    color: white;
    padding: 14px 28px;
    border-radius: .5rem;
    font-size: 20px;
    font-weight: 700;
}

/* ========== NavBar ========== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 146px;
}

.nav-logo {
    display: flex;
    gap: 1rem;
}

.nav-title {
    font-size: 2.25rem;
    font-weight: 800;
    color: #131318;
}

.nav-title span {
    color: #FF5400;
}

.nav-list {
    display: flex;
    gap: 2.27rem;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
    font-weight: 400;
}

.nav-list .home-color {
    color: #FF5400;
    font-weight: 700;
}

.hamburger {
    display: none;
}

/* ========== Banner section ========== */
.banner-container {
    height: 500px;
    background-image: url(../Images/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 1rem;
}

.banner {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-size: 4rem;
    color: white;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.banner-description {
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
    max-width: 676px;
    margin-bottom: 3rem;
}

.form-container {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    display: flex;
    gap: 24px;
}

.banner-input,
select {
    width: 174px;
    height: 52px;
    border: none;
    padding-left: 1rem;
    border-radius: .5rem;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}

select {
    appearance: none;
    background-image: url(../Images/select.png);
    background-repeat: no-repeat;
    background-position: top 14px right 14px;
}

.form-button {
    width: 174px;
    height: 52px;
    border: none;
    border-radius: .5rem;
    background-color: #FF5400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
    font-weight: 700;
}

/* ========== Popular section ========== */
.popular {
    margin-block: 100px;
    display: flex;
    column-gap: 53px;
    justify-content: center;
}

.popular-content {
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
    line-height: 26px;
    max-width: 577px;
}

.popular-title {
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 2rem;
}

.popular-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 1.5rem;
    padding-left: 1.5rem;
}

.popular-content .btn {
    margin-top: 2rem;
}

.popular-img {
    width: 540px;
}

.popular-img img {
    width: 100%;
}

/* ========== Destination section ========== */
.destination {
    margin-block: 100px;
}

.destination-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination-title {
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    margin-bottom: 24px;
    text-align: center;
}

.destination-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 643px;
    margin-bottom: 3rem;
}

.destination-img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 24px;
}

.maldives {
    grid-column: 1 / 7;
    background: url(../Images/Rectangle\ 5.png);
}

.indonesia {
    grid-column: 7 / 13;
    background: url(../Images/Rectangle\ 8.png);
}

.srilanka {
    grid-column: 1 / 5;
    background: url(../Images/Rectangle\ 6.png);
}

.north-america {
    grid-column: 5 / 10;
    background: url(../Images/Rectangle\ 7.png);
}

.kashmir {
    grid-column: 10 / 13;
    background: url(../Images/Rectangle\ 9.png);
}

.bangladesh {
    grid-column: 1 / 6;
    background: url(../Images/Rectangle\ 11.png);
}

.bandarban {
    grid-column: 6 / 13;
    background: url(../Images/Rectangle\ 10.png);
}


.destination-img {
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ========== Choose section ========== */
.choose {
    margin-block: 100px;
}

.choose-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 3rem;
}

.choose-title {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #131318;
}

.choose-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    max-width: 643px;
}

.choose-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 284px);
    gap: 24px;
}

.choose-card {
    padding: 32px 55px 32px 32px;
    border-radius: 1rem;
}

.choose-card-title {
    font-size: 24px;
    font-weight: 800;
    color: #131318;
    margin-block: 2rem 1rem;
}

.choose-card-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    color: #5A5A5D;
}

.hotel {
    grid-column: 1 / 3;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.map {
    grid-column: 3 / 5;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price {
    grid-column: 2 / 4;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* ========== Newsletter ========== */
.newsletter {
    display: grid;
    grid-template-columns: 474px 1fr;
    grid-template-rows: 422px;
    gap: 24px;
    margin-block: 100px;
}

.newsletter-content {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.newsletter-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
    color: rgba(19, 19, 24, 0.30);
    background-color: rgba(19, 19, 24, 0.05);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    padding: 1rem 1.25rem;
}

.newsletter-form input[type="submit"] {
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    padding: 14px;
    border-radius: 8px;
    background: #FF5400;
}

.newsletter-img {
    background-image: url(../Images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 1rem;
    position: relative;
}


.newsletter-promo {
    position: absolute;
    transform: rotate(-19.628deg);
    right: 6px;
    bottom: 56px;
    width: 55.6%;
    min-height: 28.4%;
    border-radius: 16px;
    background: #FF5400;
    padding-block: 18px;
}

.newsletter-promo-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4px;
}

.newsletter-promo-subtitle {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

/* ========== Footer ========== */
footer {
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-title {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.footer-title span {
    color: #FF5400;
}

.footer-img {
    height: 32.7px;
}

.footer-img img {
    width: 40px;
}

.footer-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    max-width: 769px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-block: 32px 50px;
    width: 872px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}


.rights {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: #131318;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}


/* ========== Media Query ========== */
@media screen and (max-width: 1230px) {
    .container {
        margin-inline: 30px;
    }

    .popular {
        gap: 40px;
    }

    .choose-card-container {
        grid-template-rows: repeat(2, 320px);
    }

    .choose-card {
        padding-right: 32px;
    }
}


@media screen and (max-width: 990px) {
    .container {
        margin-inline: 20px;
    }

    .banner-title {
        font-size: 2rem;
        margin-bottom: .5rem;
    }

    .banner-description {
        margin-bottom: 2rem;
        max-width: 400px;
        padding-inline: 1rem;
    }

    .form-container {
        flex-direction: column;
        gap: 1rem;
        margin-inline: 24px;
    }

    .banner-input,
    select,
    .form-button {
        min-width: 255px;
    }

    .popular {
        flex-direction: column;
        align-items: center;
    }

    .popular-content {
        max-width: 730px;
    }

    .popular-img {
        width: 430px;
    }

    .choose-card-title {
        margin-block: 1rem;
    }

    .newsletter-promo {
        right: 24px;
        bottom: 45px;
    }
    .newsletter-promo-title {
        font-size: 20px;
    }
    .newsletter-promo-subtitle {
        font-size: 24px;
    }

    .social {
        width: 740px;
    }
}


@media screen and (max-width: 800px) {
    nav {
        height: 100px;
    }

    .nav-list {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .destination-img-container {
        grid-template-rows: repeat(4, 210px);
    }

    .destination-img {
        font-size: 24px;
        font-weight: 700;
    }

    .srilanka,
    .kashmir {
        grid-column: 1 / 7;
    }

    .north-america,
    .bangladesh {
        grid-column: 7 / 13;
    }

    .bandarban {
        grid-column: 1 / 13;
    }

    .choose-card-container {
        grid-template-rows: repeat(3, 290px);
    }

    .hotel,
    .map,
    .price {
        grid-column: 1 / 5;
    }

    .newsletter {
        grid-template-columns: 474px;
        grid-template-rows: repeat(2, 422px);
        justify-content: center;
    }

    .social {
        width: 550px;
    }
}


@media screen and (max-width: 600px) {
    nav {
        height: 4rem;
    }

    .nav-img {
        width: 30px;
    }

    .nav-img img {
        width: 100%;
    }

    .nav-title {
        font-size: 22px;
    }

    .banner-title {
        font-size: 22px;
    }

    .popular {
        margin-block: 24px;
        gap: 24px;
    }

    .popular-title {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .popular-list {
        gap: 12px;
        margin-block: 1rem;
    }

    .popular-content .btn {
        margin-top: 24px;
    }

    .popular-img {
        max-width: 335px;
    }

    .destination {
        margin-block: 24px;
    }

    .destination-title {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .destination-description {
        margin-bottom: 1rem;
    }

    .destination-img-container {
        grid-template-rows: repeat(7, 176px);
        gap: 1rem;
    }

    .destination-img {
        font-size: 20px;
        font-weight: 700;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .north-america,
    .kashmir,
    .bangladesh,
    .bandarban {
        grid-column: 1 / 13;
    }
    
    .choose {
        margin-block: 24px;
    }
    .choose-content {
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .choose-title {
        font-size: 20px;
    }

    .choose-description {
        font-size: 14px;
        line-height: 24px;
    }

    .choose-card-container {
        grid-template-rows: repeat(3, 289px);
        gap: 1rem;
    }

    .choose-card-img img {
        width: 3rem;
    }

    .choose-card-title {
        font-size: 20px;
    }

    .choose-card-description {
        font-size: 14px;
        line-height: 24px;
    }

    .newsletter {
        grid-template-columns: 1fr;
        grid-template-rows: 353px 300px;
        margin-block: 24px;
    }
    .newsletter-content {
        padding: 24px;
    }
    .newsletter-title {
        font-size: 20px;
        margin-bottom: .5rem;
    }
    .newsletter-description {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .newsletter-promo {
        right: 5px;
        bottom: 45px;
    }
    .newsletter-promo-title {
        font-size: 15px;
    }
    .newsletter-promo-subtitle {
        font-size: 20px;
    }

    footer {
        height: 309px;
    }
    .footer-logo {
        gap: 10px;
    }
    .footer-title {
        font-size: 21px;
    }
    .footer-img img{
        width: 28px;
    }
    .footer-img {
        height: 27px;
    }
    .footer-description {
        font-size: 14px;
        line-height: 24px;
    }
    .social {
        width: 315px;
        padding-block: 1rem 1.5rem;
    }
    .rights {
        padding-top: 1.5rem;
        font-size: 14px;
    }
}